#create_div {
    position: absolute;
    top: 150px;
    left: 35%;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.95;
    background-color:#F0F0F0;
    vertical-align:middle;
    padding:35px 35px 35px 35px;
}

#update_div {
    position: absolute;
    top: 150px;
    left: 35%;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.95;
    background-color:#F0F0F0;
    vertical-align:middle;
    padding:35px 35px 35px 35px;
}

#del_div {
    position: absolute;
    top: 150px;
    left: 35%;
    width: 330px;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.95;
    background-color:#F0F0F0;
    padding:35px 35px 35px 35px;
}

.search_div {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.query_div {
    display: inline-flex;
    margin-left: 150px;
}

.bg_div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.pop_label {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 35px;
}

.pop_input_btn {
    display: inline-flex;
    margin-right: 15px;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}
.pop_input_text {
    display: inline-flex;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    padding:10px 10px;
    vertical-align: middle;
    margin-bottom: 35px;
    text-align: center;
}

.del_title {
    margin-bottom: 20px;
    vertical-align: middle;
}